# Auto detect text files and perform LF normalization
* text=auto
*.pkl filter=lfs diff=lfs merge=lfs -text
*.mov filter=lfs diff=lfs merge=lfs -text
*.csv filter=lfs diff=lfs merge=lfs -text
*.ipynb filter=lfs diff=lfs merge=lfs -text
txt filter=lfs diff=lfs merge=lfs -text
.gitattributrs filter=lfs diff=lfs merge=lfs -text
